@model LoginViewModel
@{
    Layout = "_AuthLayout";
}
<h2>Вход</h2>

@foreach (var key in ViewData.ModelState.Keys)
{
    foreach (var error in ViewData.ModelState[key].Errors)
    {
        <div class="field-validation-error">@error.ErrorMessage</div>
    }
}
<form asp-controller="Auth" asp-action="Login" method="post">
    
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        @Html.ValidationMessageFor(model => model.Email)

    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        @Html.ValidationMessageFor(model => model.Password)

    </div>
    <div class="form-group-auth">
        <a class="to-signup primary" href="@Url.Action("Registration", "Auth", HttpMethods.Get)">Еще не зарегистрированы?</a>
        <button type="submit" class="btn btn-secondary btn-auth">Войти</button>

    </div>

</form>