@model RegisterViewModel

<h2>Регистрация</h2>
<form asp-controller="Auth" asp-action="Registration" method="post">
    <div class="form-group">
        <label asp-for="UserName">Никнейм</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm">Подтверждение пароля</label>
        <input asp-for="PasswordConfirm" type="password" class="form-control" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>